# Helper script to park the carriage (called from T0 and T1 macros)
[gcode_macro PARK_extruder]
gcode:
    SAVE_GCODE_STATE NAME=park0
    G90
    G1 X-46 F4200
    RESTORE_GCODE_STATE NAME=park0

# Activate the primary extruder
[gcode_macro T0]
gcode:
    PARK_{printer.toolhead.extruder}
    ACTIVATE_EXTRUDER EXTRUDER=extruder
    SET_DUAL_CARRIAGE CARRIAGE=0
    SET_FAN_SPEED FAN=extruder_partfan  SPEED={printer["gcode_macro M106"].fan_speed}
    SET_GCODE_OFFSET Z=0 x=0 y=0 MOVE=1

[gcode_macro PARK_extruder1]
gcode:
    SAVE_GCODE_STATE NAME=park1
    G90
    G1 X280 F4200
    RESTORE_GCODE_STATE NAME=park1

[gcode_macro T1]
gcode:
    PARK_{printer.toolhead.extruder}
    ACTIVATE_EXTRUDER EXTRUDER=extruder1
    SET_DUAL_CARRIAGE CARRIAGE=1
    SET_FAN_SPEED FAN=extruder1_partfan  SPEED={printer["gcode_macro M106"].fan_speed}
    #SET_GCODE_OFFSET Z=0.54 X=-0.2 y=0.75 MOVE=1
    SET_GCODE_OFFSET Z=0.54 X=-0.2 y=0.9 MOVE=1

[gcode_macro CANCEL_PRINT]
rename_existing: BASE_CANCEL_PRINT
gcode:
    TURN_OFF_HEATERS
    CLEAR_PAUSE
    SDCARD_RESET_FILE
    BASE_CANCEL_PRINT
    
[safe_z_home]
#home_xy_position: 140,110
home_xy_position: -46,0
#   A X,Y coordinate (e.g. 100,100) where the Z homing should be
#   performed. This parameter must be provided.
speed: 50.0
#   Speed at which the toolhead is moved to the safe Z home
#   coordinate. The default is 50 mm/s
z_hop: 10
#   Distance (in mm) to lift the Z axis prior to homing. This is
#   applied to any homing command, even if it doesn't home the Z axis.
#   If the Z axis is already homed and the current Z position is less
#   than z_hop, then this will lift the head to a height of z_hop. If
#   the Z axis is not already homed, then prior to any XY homing
#   movement the Z axis boundary checks are disabled and the head is
#   lifted by z_hop. If z_hop is specified, be sure to home the Z
#   immediately after any XY home requests so that the Z boundary
#   checks are accurate. The default is to not implement Z hop.
z_hop_speed: 10.0
#   Speed (in mm/s) at which the Z axis is lifted prior to homing. The
#   default is 20mm/s.
move_to_previous: False
#   When set to True, xy are reset to their previous positions after z

[gcode_arcs]
resolution: 0.5

#[z_tilt]
#z_positions:
#    50, 50
#    247, 50
#points:
#    50, 50
#    210, 50
#speed: 100
#horizontal_move_z: 5
[endstop_phase]
[endstop_phase stepper_z]
endstop_align_zero: true

[bed_mesh]
speed: 100
mesh_min: 15,15
mesh_max: 200,200
horizontal_move_z: 10
probe_count: 5,5
fade_start: 1.0
fade_end: 10.0

[gcode_macro START_PRINT]
#default_parameter_BED_TEMP: 60
#default_parameter_EXTRUDER_TEMP: 200
gcode:
    # Start bed heating
    #M140 S{BED_TEMP}
    ACTIVATE_EXTRUDER EXTRUDER=extruder

    # Use absolute coordinates
    G90
    # Reset the G-Code Z offset (adjust Z offset if needed)
    #SET_GCODE_OFFSET Z=0.0
    # Home the printer
    G28 
    # Move the nozzle near the bed
    G1 Z5 F3000
    # Move the nozzle very close to the bed
    G1 Z0.15 F300
    # Wait for bed to reach temperature
    #M190 S{BED_TEMP}
    # Set and wait for nozzle to reach temperature
    #M109 S{EXTRUDER_TEMP}

[gcode_macro END_PRINT]
gcode:
    # Turn off bed, extruder, and fan
    M140 S0
    M104 S0
    M106 S0
    # Move nozzle away from print while retracting
    G28 X
    #G91
    #G1 X-2 Y200 E-3 F300
    # Raise nozzle by 10mm
    #G1 Z10 F3000
    #G90
    # Disable steppers
    M84


[gcode_macro M106]
rename_existing: M906
variable_fan_speed: 0
gcode:
    SET_GCODE_VARIABLE MACRO=M106 VARIABLE=fan_speed VALUE={params.S|float / 255.0}
    SET_FAN_SPEED FAN={printer.toolhead.extruder}_partfan SPEED={params.S|float / 255.0}
    M906 S{ params.S }

[gcode_macro M107]
rename_existing: M907
gcode:
    M106 S0